<ion-view title="Honi buruz">
	<ion-nav-buttons side="left">
		<button class="button-icon icon ion-chevron-left button back-button" ng-click="atzera()"> Atzera </button>
	</ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list id="honi-buruz-zerrenda">
            <ion-item class="honi-buruz-elementua">
                <h2 class="honi-buruz-izenburua">Garapena eta diseinua</h2>
                <div id="honi-buruz-iametza-div">
					<img class="honi-buruz-irudia" src="img/iametza.jpg">
					<div class="honi-buruz-botoia-div">
						<a class="button button-positive" href="http://www.iametza.com/" ng-click="irekiNabigatzailean($event, 'http://www.iametza.com/')">www.iametza.com</a>
					</div>
				</div>
            </ion-item>
            <ion-item class="honi-buruz-elementua">
                <h2 class="honi-buruz-izenburua">Edukiak</h2>
                <div id="honi-buruz-argia-div">
					<img class="honi-buruz-irudia" src="img/argia_logoa4.jpg">
					<div class="honi-buruz-botoia-div">
						<a class="button button-positive" href="http://www.argia.com/" ng-click="irekiNabigatzailean($event, 'http://www.argia.com/')">www.argia.com</a>
					</div>
				</div>
            </ion-item>
            <ion-item class="honi-buruz-elementua">
                <h2 class="honi-buruz-izenburua">Laguntzailea</h2>
                <div id="honi-buruz-laguntzailea-div">
					<img class="honi-buruz-irudia" src="img/gfa.jpeg">
					<div class="honi-buruz-botoia-div">
						<a class="button button-positive" href="http://www.gipuzkoa.net/" ng-click="irekiNabigatzailean($event, 'http://www.gipuzkoa.net')">www.gipuzkoa.net</a>
					</div>
				</div>
            </ion-item>
            <ion-item class="honi-buruz-elementua">
                <h2 class="honi-buruz-izenburua">Aplikazioaren lizentzia</h2>
                <div id="honi-buruz-app-lizentzia-div">
					<img class="honi-buruz-irudia" src="img/gplv3.jpg">
                    <div class="honi-buruz-azalpena">Aplikazio honek General Public License (GPL) lizentzia du.</div>
					<div class="honi-buruz-botoia-div">
						<a class="button button-positive" href="http://www.gnu.org/licenses/gpl.html" ng-click="irekiNabigatzailean($event, 'http://www.gnu.org/licenses/gpl.html')">Lizentziaren testua eta informazioa (ing)</a>
					</div>
				</div>
            </ion-item>
            <ion-item class="honi-buruz-elementua">
                <h2 class="honi-buruz-izenburua">Edukien lizentzia</h2>
                <div id="honi-buruz-edukiak-lizentzia-div">
					<img class="honi-buruz-irudia" src="img/cc.png">
                    <div class="honi-buruz-azalpena">Argiak sortutako edukiek Creative Commons BY-SA 3.0 lizentzia dute.</div>
					<div class="honi-buruz-botoia-div">
						<a class="button button-positive" href="http://creativecommons.org/licenses/by-sa/3.0/deed.eu" ng-click="irekiNabigatzailean($event, 'http://creativecommons.org/licenses/by-sa/3.0/deed.eu')">Lizentziaren azalpena</a>
					</div>
				</div>
            </ion-item>
            <ion-item class="honi-buruz-elementua">
                <h2 class="honi-buruz-izenburua">Iturburu-kodea</h2>
                <div id="honi-buruz-edukiak-lizentzia-div">
					<img class="honi-buruz-irudia" src="img/github.jpg">
                    <div class="honi-buruz-azalpena">Aplikazioaren iturburu-kodea Github-en aurki dezakezu.</div>
					<div class="honi-buruz-botoia-div">
						<a class="button button-positive" href="https://github.com/iametza/euskaltv" ng-click="irekiNabigatzailean($event, 'https://github.com/iametza/euskaltv')">Github</a>
					</div>
				</div>
            </ion-item>
			<ion-item class="honi-buruz-elementua">
                <h2 class="honi-buruz-izenburua">Harremanetarako e-posta</h2>
                <div id="honi-buruz-eposta-div">
					<div class="honi-buruz-botoia-div">
						<a class="button button-positive" href="mailto:info@iametza.com">info@iametza.com</a>
					</div>
				</div>
            </ion-item>
            <ion-item class="honi-buruz-elementua">
                <h2 class="honi-buruz-izenburua">Harremanetarako telefonoa</h2>
                <div id="honi-buruz-telefonoa-div">
					<div class="honi-buruz-botoia-div">
						<a class="button button-positive" href="tel:943376716">943 37 67 16</a>
					</div>
				</div>
            </ion-item>
            <ion-item class="honi-buruz-elementua">
                <h2 class="honi-buruz-izenburua">Bertsioa</h2>
                <div id="honi-buruz-bertsioa-zenbakia">0.0.1</div>
            </ion-item>
            <ion-item class="honi-buruz-elementua">
                <div id="honi-buruz-helbidea-div">
                    <div><strong>2014 iametza interaktiboa</strong></div>
                    <div>Zirkuitu ibilbidea 2, 1 pabilioia</div>
                    <div>20160 Lasarte-Oria (Gipuzkoa)</div>
                    <div>Euskal Herria</div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>