<ion-view title="Konfiguratu alertak">
	<ion-nav-buttons side="left">
		<button class="button-icon icon ion-chevron-left button back-button" ng-click="atzera()"> Atzera </button>
	</ion-nav-buttons>
    <ion-content class="has-header">
		
		<h2 id="konfiguratu-alertak-motak-goiko-testua" class="padding">Hautatu mota...</h2>
		
        <ion-list id="konfiguratu-alertak-motak-zerrenda">
			<ion-checkbox ng-repeat="mota in alerta_motak" ng-model="mota.hautatuta" ng-checked="mota.hautatuta" class="konfiguratu-alertak-motak-elementua">{{mota.izena}}</ion-toggle>
        </ion-list>
		
		<div id="konfiguratu-alertak-motak-ados-botoia">
			<button class="button button-positive" ng-click="bidali()">Gorde</button>
		</div>
    </ion-content>
</ion-view>