<ion-view title="Konfiguratu alertak">
    <ion-content class="has-header">
        <div multi-select
             input-model="etiketak"
             button-label="izena"
             item-label="izena"
             tick-property="hautatuta">
        </div>
		
		<h2 id="konfiguratu-alertak-motak-goiko-testua" class="padding">Hautatu mota...</h2>
		
        <ion-list id="konfiguratu-alertak-motak-zerrenda">
            <ion-item class="item konfiguratu-alertak-motak-elementua item item-icon-left" ng-repeat="mota in elementu_motak" ng-click="" type="item-text-wrap">
				<i class="icon ion-checkmark-round"></i>
                <h2 class="konfiguratu-alertak-motak-elementua-izenburua">{{mota.izena}}</h2>
            </ion-item>
        </ion-list>
		
		<div>
			<button id="konfiguratu-alertak-botoia" class="button button-positive" ng-click="bidali()">Ados</button>
		</div>
    </ion-content>
</ion-view>