<ion-view title="Youtube">
    <ion-content class="has-header padding">
        <div class="video-container">
            <iframe width="240" height="150" frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="http://player.vimeo.com/video/51297975"></iframe>
        </div>
        <div class="video-container">
            <iframe class="wmvid" src="http://www.kanaldude.tv/embed/2865/?title=1&auteur=1&" width="432" height="243" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
        </div>
        <div class="">
            <iframe width="560" height="315" src="http://www.youtube.com/embed/DMMV8QFd1Fw" frameborder="0" allowFullScreen></iframe>
        </div>
    </ion-content>
</ion-view>
