<ion-view title="Zure erara" ng-swipe-left="joanURLra('/tab/konfiguratu-alertak')" ng-swipe-right="joanURLra('/tab/nabarmenduak-zerrenda')">
    <ion-content class="has-header">
        <h2 id="zure-erara-denbora-goiko-testua">Zenbat denbora daukazu?</h2>
        <div id="zure-erara-denbora-knob-div">
            <input type="text" value="" knob class="dial" ng-model="minutuak">
        </div>
        <div id="zure-erara-denbora-aurrera-botoia">
            <a class="button button-positive" href="#/tab/zure-erara-motak">Aurrera</a>
        </div>
    </ion-content>
</ion-view>