<ion-view title="Honi buruz">
    <ion-content class="has-header">
        <ion-list id="honi-buruz-zerrenda">
            <ion-item>
                <h2 class="honi-buruz-izenburua">Garapena eta diseinua</h2>
                <div id="honi-buruz-iametza-div">
					<img class="honi-buruz-irudia" src="img/iametza.jpg">
					<div class="honi-buruz-botoia-div"><a class="external button button-positive" href="http://www.iametza.com/">www.iametza.com</a></div>
				</div>
            </ion-item>
            <ion-item>
                <h2 class="honi-buruz-izenburua">Edukiak</h2>
                <div id="honi-buruz-argia-div">
					<img class="honi-buruz-irudia" src="img/argia_logoa4.jpg">
					<div class="honi-buruz-botoia-div"><a class="external button button-positive" href="http://www.argia.com/">www.argia.com</a></div>
				</div>
            </ion-item>
            <ion-item>
                <h2 class="honi-buruz-izenburua">Laguntzailea</h2>
                <div id="honi-buruz-laguntzailea-div">
					<img class="honi-buruz-irudia" src="img/gfa.jpeg">
					<div class="honi-buruz-botoia-div"><a class="external button button-positive" href="http://www.gipuzkoa.net/">www.gipuzkoa.net</a></div>
				</div>
            </ion-item>
            <ion-item>
                <h2 class="honi-buruz-izenburua">Aplikazioaren lizentzia</h2>
                <div id="honi-buruz-app-lizentzia-div">
					<img class="honi-buruz-irudia" src="img/gplv3.jpg">
                    <div>Aplikazio honek General Public License (GPL) lizentzia du.</div>
					<div class="honi-buruz-botoia-div"><a class="external button button-positive" href="http://www.gnu.org/licenses/gpl.html">Lizentziaren testua eta informazioa (ing)</a></div>
				</div>
            </ion-item>
            <ion-item>
                <h2 class="honi-buruz-izenburua">Edukien lizentzia</h2>
                <div id="honi-buruz-edukiak-lizentzia-div">
					<img class="honi-buruz-irudia" src="img/cc.png">
                    <div>Argiak sortutako edukiek Creative Commons BY-SA 3.0 lizentzia dute.</div>
					<div class="honi-buruz-botoia-div"><a class="external button button-positive" href="http://creativecommons.org/licenses/by-sa/3.0/deed.eu">Lizentziaren azalpena</a></div>
				</div>
            </ion-item>
            <ion-item>
                <h2 class="honi-buruz-izenburua">Harremanetarako e-posta</h2>
                <div id="honi-buruz-eposta-div">
                    <div>Gurekin harremanetan jarri nahi baduzu bidali posta elektroniko bat helbide honetara:</div>
					<div class="honi-buruz-botoia-div"><a class="external button button-positive" href="mailto:info@iametza.com">info@iametza.com</a></div>
				</div>
            </ion-item>
            <ion-item>
                <h2 class="honi-buruz-izenburua">Harremanetarako telefonoa</h2>
                <div id="honi-buruz-telefonoa-div">
                    <div>Nahiago baduzu deitu telefono honetara:</div>
					<div class="honi-buruz-botoia-div"><a class="external button button-positive" href="mailto:info@iametza.com">info@iametza.com</a></div>
				</div>
            </ion-item>
            <ion-item>
                <h2 class="honi-buruz-izenburua">Bertsioa</h2>
                <div id="honi-buruz-bertsioa-div">
                    <div>0.0.1</div>
				</div>
            </ion-item>
            <ion-item>
                <div class="txt_negrita">2014 iametza interaktiboa</div>
                <br>
                <div>Zirkuitu ibilbidea 2, 1 pabilioia</div>
                <div>20160 Lasarte-Oria (Gipuzkoa)</div>
                <div>Euskal Herria</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>