<!--
    This template loads for the 'tab.zerrenda-xehetasunak' state (app.js)
    'multimedia' is a $scope variable created in the MultimediaXehetasunakCtrl controller (controllers.js)
    The MultimediaXehetasunakCtrl pulls data from the Zerbitzaria service (service.js)
    The Zerbitzaria service returns an array of multimedia data
-->
<ion-view id="xehetasunak-goiko-izenburua" title="{{multimedia.izenburua}}">
    <ion-content has-header="true" padding="true">
        <div id="xehetasunak-edukia">
            <div class="xehetasunak-embed-div" ng-repeat='element in multimedia.embed'>
                <div class="xehetasunak-embed-testua">{{ element.testua }}</div>
                <div ng-if="!element.youtubekoEstekaDa" class="xehetasunak-embed-bideoa pretty-embed" irudiembed></div>
                <div ng-if="element.youtubekoEstekaDa" class="xehetasunak-embed-bideoa" prettyembed></div>
            </div>
            <h3 id="xehetasunak-izenburua" ng-bind-html='multimedia.izenburua'></h3>
            <div id="xehetasunak-azalpena" ng-bind-html='multimedia.azalpena'></div>
            <div id="xehetasunak-data">Data: {{ multimedia.data }}</div>
            <div id="xehetasunak-botoiak">
                <button id="xehetasunak-botoiak-arazorik" class="button button-small button-positive icon-left ion-bug" ng-click="joanURLra('/tab/nabarmenduak-arazoa')">Arazorik?</button>
                <div id="xehetasunak-botoiak-sare-sozialak">
                    <button id="xehetasunak-botoiak-twitter" class="button button-small button-positive icon-left ion-social-twitter" ng-click="partekatuTwitter(multimedia.izenburua, urla)">Twitter</button>
                    <button id="xehetasunak-botoiak-facebook" class="button button-small button-positive icon-left ion-social-facebook" ng-click="partekatuFacebook(multimedia.izenburua, urla)">Facebook</button>
                </div>
            </div>
            <iframe id="xehetasunak-disqus" width="100%" ng-src="{{ multimedia.disqus_url }}"></iframe>
        </div>
    </ion-content>
</ion-view>