<ion-view title="Igo zurea">
    <ion-content class="has-header">
        <div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Izenburua</span>
				<input type="text" placeholder="Idatzi izenburua hemen">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Azalpena</span>
				<input type="text" placeholder="Idatzi azalpena hemen">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Txertatzeko kodea</span>
				<input type="text" placeholder="Itsatsi txertatzeko kodea hemen">
			</label>
		</div>
		
		<div class="padding">
			<button class="button button-block button-positive">Bidali</button>
		</div>
    </ion-content>
</ion-view>