<ion-view title="Nabarmenduak">
    <ion-nav-buttons side="right">
        <a class="button button-clear icon ion-information" href="#/honi-buruz"></a>
    </ion-nav-buttons>
    <div class="bar bar-subheader">
        <div class="button-bar">
            <a class="button" ng-class="{'button-positive': isActive('azkenak')}" ng-click="changeTab('azkenak')">Azkenak</a>
            <a class="button" ng-class="{'button-positive': isActive('ikusienak')}" ng-click="changeTab('ikusienak')">Ikusienak</a>
        </div>
    </div>
    <ion-content class="has-header has-subheader">
        <ion-list>
            <ion-item class="nabarmenduak-elementua item item-thumbnail-left" ng-repeat="elementua in multimediaZerrenda" type="item-text-wrap" href="#/tab/nabarmenduak-xehetasunak/{{elementua.id}}">
                <img class="nabarmenduak-elementua-irudia" ng-src="{{elementua.irudia}}" />
                <h2 class="nabarmenduak-elementua-izenburua">{{elementua.izenburua}}</h2>
                <p class="nabarmenduak-elementua-mota">{{elementua.mota}}</p>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
            on-infinite="kargatuGehiago()"
            distance="10%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>

