<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="txandakatuAlboMenua()"></button>
</ion-nav-buttons>

<ion-view title="Konfiguratu alertak" ng-swipe-right="joanURLra('/tab/zure-erara-denbora')">
	
    <ion-content class="has-header">
		
		<div class="goiko-azalpena">
			<h2 class="goiko-testua" class="padding">Hautatu mota...</h2>
			<p class="goiko-bigarren-testua">Hautatu ze motatako bideo berriak daudenean jaso nahi duzun alerta eta sakatu Gorde botoia</p>
		</div>
		
		<div ng-if="datuak_kargatzen" class="zerrenda-kargatzen">
            <i class="icon ion-loading-a"></i>
            Kargatzen...
        </div>
		
        <ion-list id="konfiguratu-alertak-motak-zerrenda">
			<ion-checkbox ng-repeat="mota in alerta_motak" ng-model="mota.hautatuta" ng-checked="mota.hautatuta" class="konfiguratu-alertak-motak-elementua">{{mota.izena}}</ion-toggle>
        </ion-list>
		
		<div id="konfiguratu-alertak-motak-ados-botoia">
			<button class="button button-positive" ng-click="bidali()">Gorde</button>
		</div>
		
	</ion-content>
	
</ion-view>