<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-only nav-title-slide-ios7" ng-controller="FitxakCtrl" ng-class="{reverse:alderantzikatuBeharDa}">

  <!-- Igo zurea fitxa -->
  <ion-tab icon="ikonoa-igo-zurea" href="#/tab/nabarmenduak-zerrenda">
    <ion-nav-view name="tab-igo-zurea"></ion-nav-view>
  </ion-tab>
  
  <!-- Nabarmenduak fitxa -->
  <ion-tab icon="ikonoa-nabarmenduak" href="#/tab/nabarmenduak-zerrenda">
    <ion-nav-view name="tab-nabarmenduak"></ion-nav-view>
  </ion-tab>


  <!-- Zure erara fitxa -->
  <ion-tab icon="ikonoa-zure-erara" href="#/tab/zure-erara-denbora">
    <ion-nav-view name="tab-zure-erara"></ion-nav-view>
  </ion-tab>


  <!-- Konfiguratu alertak fitxa -->
  <ion-tab icon="ikonoa-alertak" href="#/tab/konfiguratu-alertak">
    <ion-nav-view name="tab-konfiguratu-alertak"></ion-nav-view>
  </ion-tab>


</ion-tabs>
