/* Jquery Knob pluginak erabiltzen dituen input-ak */
input[type="text"][knob] {
    /* ionic-ek display:block estiloa ezartzen die inputei. Baina block bezala testua ez da ikusten. inline jarrita bai. */
    display: inline;
}

/* Nabarmenduak bistaren estiloa */
.nabarmenduak-elementua {
    width: 66%;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.nabarmenduak-elementua-irudia {
    /*max-width: 100px;
    max-height: 100px;*/
}

.item-content .nabarmenduak-elementua-izenburua {
    white-space: normal;
}