/* Jquery Knob pluginak erabiltzen dituen input-ak */
input[type="text"][knob] {
    /* ionic-ek display:block estiloa ezartzen die inputei. Baina block bezala testua ez da ikusten. inline jarrita bai. */
    display: inline;
}

/****** Nabarmenduak bistaren estiloa ******/
.nabarmenduak-elementua {
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.nabarmenduak-elementua-irudia {
    /*max-width: 100px;
    max-height: 100px;*/
}

.item-content .nabarmenduak-elementua-izenburua {
    white-space: normal;
}

/****** Zure erara bistaren estiloa ******/
#zure-erara-goiko-testua {
    margin-top: 30px;
    text-align: center;
}

#zure-erara-knob-div {
    margin-top: 30px;
    text-align: center; /* Knob-en canvas-a zentratzeko. */
}

#zure-erara-aurrera-botoia {
    text-align: center;
    margin-top: 30px;
}

/****** Zure erara motak bistaren estiloa ******/
#zure-erara-motak-goiko-testua {
    margin-top: 30px;
    text-align: center;
}

#zure-erara-motak-zerrenda {
    margin-top: 30px;
}

#zure-erara-motak-zerrenda div:first-child {
    /* Zerrendako lehen elementuari goiko ertza kendu. */
    border-top-width: 0;
}

.zure-erara-motak-elementua {
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/****** Honi buruz bistaren estiloa ******/
.honi-buruz-izenburua {
    text-align: center;
    font-weight: bold;
}

.honi-buruz-irudia {
    width: 75%;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.honi-buruz-botoia-div {
    margin-top: 25px;
    text-align: center;
}

#honi-buruz-zerrenda div:first-child {
    /* Zerrendako lehen elementuari goiko ertza kendu. */
    border-top-width: 0;
}

.honi-buruz-elementua {
    border-width: 1px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 75%;
}

#honi-buruz-bertsioa-zenbakia {
    margin-top: 25px;
    text-align: center;
}