/* Jquery Knob pluginak erabiltzen dituen input-ak */
input[type="text"][knob] {
    /* ionic-ek display:block estiloa ezartzen die inputei. Baina block bezala testua ez da ikusten. inline jarrita bai. */
    display: inline;
}

/****** Nabarmenduak bistaren estiloa ******/
#nabarmenduak-iragazi-input-div {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.nabarmenduak-elementua {
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.nabarmenduak-elementua-irudia {
    /*max-width: 100px;
    max-height: 100px;*/
}

.item-content .nabarmenduak-elementua-izenburua {
    white-space: normal;
}

/****** Nabarmenduen xehetasunen bistaren estiloa ******/
#xehetasunak-edukia {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.xehetasunak-embed-div {
    margin-top: 10px;
}

.xehetasunak-embed-bideoa {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.xehetasunak-embed-bideoa iframe,
.xehetasunak-embed-bideoa object,
.xehetasunak-embed-bideoa embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#xehetasunak-botoiak {
    margin-top: 15px;
    position: relative;
}

#xehetasunak-botoiak-arazorik {
    float: left;
}

#xehetasunak-botoiak-sare-sozialak {
    position: absolute;
    right: 0;
}

#xehetasunak-botoiak-twitter {
    margin-right: 5px;
    float: left;
}

#xehetasunak-botoiak-facebook {
    float: right;
}

#xehetasunak-disqus {
    height: 550px; /* PROBISIONALA! iframe-aren edukien altuerara egokitu behar luke */
}

/****** Zure erara bistaren estiloa ******/
#zure-erara-denbora-goiko-testua {
    margin-top: 30px;
    text-align: center;
}

#zure-erara-denbora-bigarren-testua {
    color: #666;
    text-align: center;
}

#zure-erara-denbora-knob-div {
    margin-top: 30px;
    text-align: center; /* Knob-en canvas-a zentratzeko. */
}

#zure-erara-denbora-aurrera-botoia {
    text-align: center;
    margin-top: 30px;
}

/****** Zure erara motak bistaren estiloa ******/
#zure-erara-motak-goiko-testua {
    text-align: center;
}

#zure-erara-motak-zerrenda div:first-child {
    /* Zerrendako lehen elementuari goiko ertza kendu. */
    border-top-width: 0;
}

.zure-erara-motak-elementua {
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/****** Zure erara zerrendaren estiloa ******/
#zure-erara-zerrenda-iragazi-input-div {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.zure-erara-zerrenda-elementua {
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.zure-erara-zerrenda-elementua-irudia {
    /*max-width: 100px;
    max-height: 100px;*/
}

.item-content .zure-erara-zerrenda-elementua-izenburua {
    white-space: normal;
}

/****** Zure erara xehetasunen bistaren estiloa ******/
#zure-erara-xehetasunak-edukia {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.zure-erara-xehetasunak-embed-div {
    margin-top: 10px;
}

.zure-erara-xehetasunak-embed-bideoa {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.zure-erara-xehetasunak-embed-bideoa iframe,
.zure-erara-xehetasunak-embed-bideoa object,
.zure-erara-xehetasunak-embed-bideoa embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#zure-erara-xehetasunak-botoiak {
    margin-top: 15px;
    position: relative;
}

#zure-erara-xehetasunak-botoiak-arazorik {
    float: left;
}

#zure-erara-xehetasunak-botoiak-sare-sozialak {
    position: absolute;
    right: 0;
}

#zure-erara-xehetasunak-botoiak-twitter {
    margin-right: 5px;
    float: left;
}

#zure-erara-xehetasunak-botoiak-facebook {
    float: right;
}

/****** Alerta motak bistaren estiloa ******/
#konfiguratu-alertak-motak-goiko-testua {
    text-align: center;
}

#konfiguratu-alertak-motak-zerrenda div:first-child {
    /* Zerrendako lehen elementuari goiko ertza kendu. */
    border-top-width: 0;
}

.konfiguratu-alertak-motak-elementua {
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#konfiguratu-alertak-motak-ados-botoia {
    margin-top: 30px;
    text-align: center;
}

/****** Honi buruz bistaren estiloa ******/
.honi-buruz-izenburua {
    text-align: center;
    font-weight: bold;
}

.honi-buruz-irudia {
    width: 75%;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.honi-buruz-botoia-div {
    margin-top: 25px;
    text-align: center;
}

#honi-buruz-zerrenda div:first-child {
    /* Zerrendako lehen elementuari goiko ertza kendu. */
    border-top-width: 0;
}

.honi-buruz-elementua {
    border-width: 1px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 75%;
}

.honi-buruz-azalpena {
    margin-top: 25px;
    text-align: center;
    white-space: normal;
}

#honi-buruz-bertsioa-zenbakia {
    margin-top: 25px;
    text-align: center;
}

#honi-buruz-helbidea-div {
    text-align: center;
}